@font-face {
  font-display: swap;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/overpass-v16-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/overpass-v16-latin-700.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --ff-basic: "Overpass", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --clr-primary-orange: #fb7413;
  --cle-neutral-black: #1e1e1e;
  --clr-neutral-white: #ffffff;
  --clr-neutral-light-grey: #959eac;
  --clr-neutral-dark-blue: #252d37;
  --clr-neutral-very-dark-blue: #121417;
}
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}
body {
  font-family: var(--ff-basic);
  font-weight: var(--fw-regular);
  min-height: 100vh;
  background-color: var(--cle-neutral-black);
  color: var(--clr-neutral-light-grey);
}
main {
}
.item--center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container--styling {
  background: radial-gradient(
    circle,
    rgba(35, 42, 52, 1) 0%,
    rgba(24, 30, 39, 1) 100%
  );
  border-radius: 30px;
  padding: 2.1rem;
}
.rating-form {
  max-width: 25.75rem;
}
.rating-form__star-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--clr-neutral-dark-blue);
  border-radius: 50%;
}
.rating-fieldset {
  border: none;
  margin: 2rem 0;
}
.heading--bold {
  color: var(--clr-neutral-white);
  font-size: 1.75rem;
  font-weight: var(--fw-bold);
}
.dialog {
  border: none;
  color: inherit;
  max-width: 25.75rem;
  margin: auto;
}
.dialog::backdrop {
}
